#h5{
	width: 1800px;
	height: 500px;
	border:1px solid #eee;
	background-image: url(img/beijingtu5.jpg);
      background-size: 100% 100%;
}
.aaaa_{
	width: 1800px;
	height: 25px;
	background-color: rgb(150,222,222);
	float: left;
	position:relative;
}
.aaaaa_{
	width: 200px;
	height: 20px;
	float: left;
	font-size: 20px;
	color: blue;
}
.bbbbb_{
	font-weight: bold;
	font-size: 20px;
	margin-left: 650px;
	float: left;
}
.ccccc_{
	float: left;
}
.ddddd_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.eeeee_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.fffff_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.ggggg_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.hhhhh_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.iiiii_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.jjjjj_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
.kkkkk_{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}
